{%extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Activation</legend>
			{{ act_form|crispy }}
		</fieldset>
		<div class="form-group">
			<small class="text-muted text-dark">
			<b>On clicking the Activate button you are agreeing to our</b><a class="ml-2" href="{% url 'terms-conditions'%}">Terms and conditions</a>
			</small><br/><br/>
			<button class="btn btn-outline-info" type="submit">Activate</button>
		</div>			
	</form>

</div>
{% endblock content %}