{%extends "blog/base.html" %}
{% block content %}


    

        
        
		<div >
			{% for i in posts%}

			<article class="media content-section ">
				<img class="rounded-circle article-img" src="{{i.author.profile.image.url}}" />
				<div class="media-body">
					<div class="article-metadata">
						<a class="mr-2 text-dark" href="{% url 'user-post' i.author.username %}">{{ i.author }}</a>
						<small class="text-muted text-dark">{{ i.date_posted|date:"F d, Y" }}</small><br/>
						<small class="text-muted text-dark">College:<b> {{ i.college}}</b></small>
						<small class="text-muted text-dark">Mobile No:<b> {{ i.mobileno}}</b></small>
					</div>
					<h2><a class="article-title text-dark" href="{% url 'post-detail' i.id %}">{{ i.title }}</a></h2>
					<p class="article-content text-dark">{{ i.content }}</p>
					<a class="article-title text-dark" href="{% url 'post-detail' i.id %}">
						<img class="article-img" src="{{i.image.url}}" style="width:200px;height:200px;border-radius:20px;" />
					</a>
				</div>
			</article>
			{% endfor %}

                
            

	{% if is_paginated%}
		{% if page_obj.has_previous %}
			<a class="btn btn-outline-secondary mb-4" href="?page=1">First</a>
			<a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<a class="btn btn-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
				<a class="btn btn-outline-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}
		{% if page_obj.has_next %}
			<a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
			<a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}		
	{% endif %}
{% endblock content %}

</div>
        


<!--{{STATIC_URL}}-->