{%extends "blog/base.html" %}
{% block content %}
	
		<div>
			{% if head == 1 %}
				<h1>Inbox</h1>
			{% else %}
				<h1>Sent Item</h1>
			{% endif %}
		</div>
		<div style="padding:15px; margin:auto;!important">
			<table class="table table-striped table-dark">
				<thead>
				  <tr>
					<th scope="col">#</th>
					<th scope="col">Date</th>
					{% if head == 1 %}
						<th scope="col">Sender</th>
					{% else %}
						<th scope="col">Receiver</th>
					{% endif %}
					<th scope="col">Message</th>
					<th scope="col">Menu</th>
				  </tr>
				</thead>	
			{% for i in msgs%}
				  <tr>
					<th scope="row"><a class="text-light linktopost" href="{% url 'post-detail' i.post_id %}">{{ forloop.counter }}</a></th>
					<td><a class="text-light linktopost" href="{% url 'post-detail' i.post_id %}">{{ i.date_posted }}</a></td>
					{% if i.sender != user.username %}
						<td><a class="text-light linktopost" href="{% url 'post-detail' i.post_id %}">{{ i.sender }}</a></td>
					{% else %}
						<td><a class="text-light linktopost" href="{% url 'post-detail' i.post_id %}">{{ i.receiver }}</a></td>
					{% endif %}
					<td><a class="text-light linktopost" href="{% url 'post-detail' i.post_id %}">{{ i.msg }}</a></td>
					{% if i.sender != user.username %}
						<td><a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'chat-msg-reply' i.id %}">Reply</a></td>
					{% endif %}
					<td><a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'chat-msg-del' i.id %}">Delete</a></td>
				  </tr>
			{% endfor %}
			</table>
		</div>
{% endblock content %}

