{%extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style media="screen">
  #id_token{
    border-bottom: 1px solid  #007bff !important;
    width:5%;
    font-size: inherit;
    border: none;
    border-width: 0;
    box-shadow: none;
  }

  #frm{
    margin-top: 20%;
  }

  #btn{
    margin-top:-20px;
  }
  </style>
		<div class="content-section" >
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group" >
					<legend class="border-bottom mb-4">Blog Post</legend>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<input type="submit" value="Award" class="btn btn-info" id="btn">
				</div>			
			</form>
		</div>
{% endblock content %}